body {
  text-align: center;
  background-color: ghostwhite;
}

input {
  border: #282c34 solid 2px;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

button {
  min-width: 5rem;
  min-height: 1rem;
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #3fb8dd;
  border-radius: 15px;
  color: #fff;
  font-family: monospace;
  font-size: larger;
}

button:hover {
  filter: brightness(125%) drop-shadow(2px 2px 2px grey);
  cursor: pointer;
}

.del-btn {
  margin-top: 9rem;
  background-color: orangered;
}